@import '../../styles//variables';

.par {
    font-weight: normal;
    line-height: 24px;
    color: $black;
}

.normal {
    font-size: 16px;
}

.less {
    font-size: 14px;
}

.large {
    font-size: 18px;
    line-height: 29px;
}